<tr>
  <td><%= link_to image_tag(product.image.url(:small)), portal_product_path(product.pid) %></td>
  <td><%= product.pid %></td>
  <td><%= product.name %></td>
  <td><%= product.market_price %></td>
  <td><%= product.discount_price %></td>
  <td><%= product.photos_quantity %></td>
  <td><%= product.stock %></td>
  <td>
    <%= link_to '编辑', edit_portal_product_path(product.pid), class: 'btn btn-sm btn-default' %>
    <%= link_to '删除', portal_product_path(product.pid), method: :delete,  data: { confirm: '您确定吗？' },class: 'btn btn-sm btn-danger' %>
  </td>
</tr>